@font-face {
    font-family: 'clockicons';
    font-style: normal;
    font-weight: 400;
    src: url("clockicons.woff2");
}

*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    overflow: hidden;

}
main{
    display: table;
    width: 100%;
    height: 100vh;
}
#wrap{
    display: table-cell;
    vertical-align: middle;

}
.tfont{
    font-family: clockicons, sans-serif;
}
#timer{
    margin:  80px auto;
    display: table;
    font-size: 16vw;
}
.t_num{
    margin-left: 2vw;
}
#ì¼{
    font-size: 6vw;
}

#exp{
    position: relative;
    margin: 4vw;
    right: 0;
}
#exp>div{
    text-align: right;
    padding: 3px;
}